
.botones_inicio_sesion {
 
    margin-left: 10px;
    float: right;
    position: relative;
    top: 10%;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-family: Montserrat;
    background: #1c1e22;
    color: #dcc2e4;
    cursor: pointer;
    overflow: hidden;
    
}

button:hover {
    color: #fff;
}

button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat_normal.ttf);
}