#div_registro{
    position: absolute;
    margin-top: 1%;
    top: 30%;
    left: 1%;
    display: flex;
    width: 93%;
    height: 65%;
    background-image: url(Imagenes/madera.jpg);
    background-size:cover;
    border-style: 1px solid yellow;
    text-align:center;
    border-radius: 70px 70px 70px 70px;
    padding: 3%;
}
#div_formulario{
    background-color: azure;
    font-size: 150%;
    width: 50%;
    height: 80%;
    text-align: justify;
    padding: 2%;
    font-family: Montserrat;
    align-items: center;
    border-radius: 70px 70px 70px 70px;
}

#recaptcha{
    float: left;
}

#boton_submit{
   float: left;
   margin-left: 20%;
   margin-top: 2.5%;
   padding: 10px;
   font-weight: 600;
   font-size: 20px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
}

table, td, th{
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    margin: auto;
}

.slider{
    float: left;
    margin-left: 8%;
    border:1px solid white;
    margin: 0 auto;
}

.slider_contenedor{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}

.flecha{
    width:100%;
    height:20%;
}

.celda_slider{
    pointer-events: none;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
}

#celda_slider--show{
    opacity: 1;
    pointer-events: unset;
}





@font-face {
    font-family: Montserrat;
    src: url(Montserrat_normal.ttf);
}