/*Portada*/


.blog-container-cover{
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    
    width: 100%;
    height: 100%;
    background: rgba(25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 100px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.container-category label{
    padding: 6px 40px;
    margin: 5px;
    font-size: 30px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    opacity: 0.8;
    background: #46a2fd;
    color: #fff;
}



/*PRODUCTOS*/

.container-post{
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;

}


.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*CANT productos x columna*/
    grid-gap: 30px;
    margin-top: 110px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;
   
    
}

.post .ctn-img img{
    width: 100%;
    height: auto;
    transition: transform .2s; 
    object-fit: cover;
}

 

.post .ctn-img img:hover{
    
    transform: scale(1.5); 
    
    z-index: 18;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.9;
}


/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="ESPADAS"]:checked ~ .posts .post:not([data-category~="ESPADAS"]),
[value="KATANAS"]:checked ~ .posts .post:not([data-category~="KATANAS"]),
[value="ARMADURAS"]:checked ~ .posts .post:not([data-category~="ARMADURAS"]),
[value="ESCOBAS_MAGICAS"]:checked ~ .posts .post:not([data-category~="ESCOBAS_MAGICAS"]),
[value="ESCUDOS"]:checked ~ .posts .post:not([data-category~="ESCUDOS"]),
[value="ARCOS"]:checked ~ .posts .post:not([data-category~="ARCOS"]),
[value="BARITAS"]:checked ~ .posts .post:not([data-category~="BARITAS"]),
[value="DAGAS"]:checked ~ .posts .post:not([data-category~="DAGAS"]){

    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="ESPADAS"]:checked ~ .container-category [for="ESPADAS"],
[value="KATANAS"]:checked ~ .container-category [for="KATANAS"],
[value="ARMADURAS"]:checked ~ .container-category [for="ARMADURAS"],
[value="ESCOBAS_MAGICAS"]:checked ~ .container-category [for="ESCOBAS_MAGICAS"],
[value="ESCUDOS"]:checked ~ .container-category [for="ESCUDOS"],
[value="ARCOS"]:checked ~ .container-category [for="ARCOS"],
[value="BARITAS"]:checked ~ .container-category [for="BARITAS"],
[value="DAGAS"]:checked ~ .container-category [for="DAGAS"]{
    background: #46a2fd;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}