.block{
    color: white;
    width: 100%;
}


.articulo{
width: 100%;
height: 1400px;
background:white;
padding-top: 21px;
margin-top: 150px;
margin-bottom: 100px;


}

.article{
    background: #C4C4C4;
    color: rgb(0, 0, 0);
   
    width: 1400px;
    height: 390px;
    
    border-radius: 10px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
}

.product img{
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 60px;
    background: white;
    
}

.product img{
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 60px;
    background: white;
    width: 400px;
    height: 200px;
}

.product h2 {
    
    
   margin-left: 800px;
  float: right ;


   
}

.product a {
    font-size: 40px;
    border-radius: 20px;
    width: 600px;
 height: 100px;
 margin-left: 50px;
 
    
 }
.type{
    position: fixed;
    
    left: 0;
    width: 100%;
    height: 250px;
    background: rgb(28, 30, 34);
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

/* CLASIFICACION POR ESTRELLAS*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
     
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
    
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
   
  }
  
  .clasificacion {
   font-size: 40px;
  
    margin-right: 100px;
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
