#div_registro{
    position: absolute;
    margin-top: 1%;
    top: 30%;
    left: 1%;
    display: flex;
    width: 93%;
    height: 85%;
    background-image: url(../imgs/piedra_background.jpg);
    background-size:cover;
    border-style: 1px solid yellow;
    text-align:center;
    border-radius: 70px 70px 70px 70px;
    padding: 3%;
}
#div_formulario{
    background-color: azure;
    font-size: 150%;
    width: 50%;
    height: 70%;
    text-align: justify;
    padding: 2%;
    font-family: ProductSans;
    align-items: center;
    border-radius: 70px 70px 70px 70px;
}

#recaptcha{
    float: left;
}

#boton_submit{
   float: left;
   margin-left: 20%;
   margin-top: 2.5%;
   padding: 10px;
   font-weight: 600;
   font-size: 20px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   text-decoration: none
}

table, td, th{
    border: 1px solid black;
    padding: 25px;
    text-align: center;
    margin: auto;
}

#div_clase{
    float: left;
    margin-left: 8%;
    border:1px solid white;
    margin: 0 auto;
    border-radius: 20px;
    font-family: ProductSans;
    background-color: #C4C4C4C4;
}

.slider{
    float: left;
    margin-left: 8%;
    border:1px solid white;
    margin: 0 auto;
    border-radius: 20px;
}

.slider_contenedor{
    display: grid;
    grid-template-columns: 50px 500px 50px;
    align-items: center;
    background-image: url(../imgs/fondo_madera.jpg);
    
}

.flecha{
    cursor: pointer;
    width:100%;
    height:20%;
}
.flecha:nth-of-type(2){
    justify-self: auto;
}

.celda_slider{
    pointer-events: unset;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 1.5s;
    user-select: none;
}

.celda_slider--show{
    opacity: 1;
    pointer-events: unset;
}


@font-face {
    font-family: Montserrat;
    src: url(Montserrat_normal.ttf);
}

@font-face {
    
    font-family: ProductSans;
    src: url(ProductSans-Regular.ttf);
   
}

@font-face {
    
    font-family: ProductSansBold;
    src: url(ProductSans-Bold.ttf);
   
}