/*Portada*/


.blog-container-cover{
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-post{
    max-width: 1800px;

}

.blog-container-cover:before{
    
    width: 100%;
    height: 80%;
    background: rgba(25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}


/*Post - Publicaciones*/

.container-post{
    max-width: 1500px;
    margin: auto;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}