.fondo {
    background-color: #1C1E22;

}



div {
    position: absolute;
    width: 1430px;
    height: 839px;
    left: calc(50% - 1430px/2 + 4px);
    top: calc(50% - 839px/2 + 162.5px);
    mix-blend-mode: normal;
    border-radius: 20px;
}



.header-content{

    
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{

    margin-left:auto ;
    margin-bottom: 300%;
    height: 80px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ProductSansBold';
}

#logo{
    float: left;
    width: 13%;
    height: 13%;
    margin-left: 2%;
    margin-top: 1%;
}

#div_cabecera{
    width: 50%;
    float: left;
    margin-left: 22%;
    margin-top: -100px;
}


#titulo{
    font-style: normal;
    margin: auto;
    text-align: center;
    font-family: 'MortalKombat4';
    font-weight: 400;
    font-size: 800%;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: -0.03em;
    color: white;

}

#subtitulo{
    margin: auto;
    font-family:'ProductSans';
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

#div_barra_botones{
    float: top;
    position: absolute;
    top: 25%;
    border-style: solid #C4C4C4;
    margin-top: -2%;
   
}

.barra_botones{
    background-color: #C4C4C4C4;
    margin-top: -10%;
    position: relative;
    top: 25%;
    width: 100%;
    height: 5%;

}

ul{
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
    z-index: 1;
    text-align: center;
}
        
li{
    display: inline-table;
    vertical-align: top;
    
}

.botones_menu{
    
    font-size: 30px;
    display: block;
    line-height: 160%;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2%;
    position: relative;
    font-weight: 200;
    color: black;
    font-family: 'MortalKombat4'
    
}

.botones_menu::after{
    content: '';
    position: absolute;
    top: -1%;
    left: 0;
    right: 0;
    bottom: 12%;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #3498DB;
    border-right-style: solid;
    border-left-style: solid;
}

.botones_menu:hover:after {
    opacity: 1;
}

.botones_inicio_sesion {
 
    margin-left: 28px;
    float: right;
    position: relative;
    top: 10%;
    margin-bottom: 300%;
    margin-top: -10%;
    margin-right: -2%;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-weight:900;
    font-size:medium;
    background: #1c1e22;
    color: #dcc2e4;
    cursor: pointer;
    overflow: hidden;
    
}

#caja{

    background-color: #00A8F3;
    margin-top: 13%;
    margin-left: 0%;
    border-radius: 4%;
    height: 122%;
    width: 75%;

}

#caja2{
    background-color: #00A8F3;
    margin-left: 77%;
    width: 16%;
    height: 122%;
    margin-top: 13%; 

}

#ads{
    font-family: 'ProductSans-Bold';
    font-size: 200%;
    color: white;
    margin-left: 38.5%;
    margin-top: 5%;
    
}

#chivalry{

    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 10%;
}

#taberna{

    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 15%;

}

#domino{

    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top: 15%;

}

#quidditch{

    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-top: 1%;

}

#manga{

    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-top: 0%;
}





.container-footer{
    width: 100%;
    padding: 40px 0;
    background: rgb(28, 30, 34);
    margin-top: 1000px;
    float: top;
    margin-left: -2%;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
    margin-top: -2%;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: rgb(28, 30, 34);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-twitter:hover{
    background: #2890e6;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

button:hover {
    color: #00A8F3;
}

button span {
    position: absolute;
    background: #00A8F3;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}

@font-face {
    font-family: MortalKombat4;
    src: url(../Fuentes/MK4.TTF);
}

@font-face {
    font-family: Montserrat;
    src: url(../Alvaro_SoftKombat/Montserrat_normal.ttf);
}


@font-face {
    font-family: Montserrat_cursiva;
    src: url(../Alvaro_SoftKombat/Montserrat_cursiva.ttf);
}

@font-face {
    font-family: ProductSans-Bold;
    src: url(../softKombat/css/ProductSans-Bold.ttf);
}

@font-face {
    font-family: Product-Regular;
    src: url(../softKombat/css/ProductSans-Regular.ttf);
}
