@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'MortalKombat4';
}

@font-face {
    
    font-family: MortalKombat4;
    src: url(MK4.TTF);
   
  }
body{
    background: #1d1d1d;
}


.material-symbols-outlined {
    margin-top: 35px;
    margin-right: 15px;
   transform: scale(2);
  color: white;
  font-variation-settings:
  'FILL' 50,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.boton_submit{
    float: left;
    margin-left: 20%;
    margin-top: 2.5%;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
 }


header{
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: rgb(28, 30, 34);
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    
    height: 80px;
    margin-right: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log1{
    padding-top: 200px;
    margin-left: 150px;
    font-size: 128px;
    font-weight: 400;
    text-align: center;
    color: #008000;
    justify-content: center;
    align-items: center;
    font-style: normal;
    letter-spacing: -0.03em;

}

.logo h1 b{
    color: #ffffff;
}


.menu {
    height: 80px;
    margin-right: 100px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu nav ul button{
 width: 100px;
 height: 100px;
}


.menu nav ul li a{
    color: #ffffff;
    font-size: 18px;
    transition: color 300ms;
}
.menu nav ul button li a:hover{
    color: #46a2fd;
}
.menu nav ul li a:hover{
    color: #46a2fd;
}

.menu .text-menu-selected{
    color: #46a2fd;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



#icon-shop{
width: 100px;
margin-top: 32px;
width: auto;
color: white;
}

/*hermandades*/

.divverde1{
    background-color: #008000; 
    border-radius: 50px;
    margin-top: -150px;
    position: relative;
    text-align: center;
}

.divblanco1{
    background-color: white;
    border-radius: 70px;
    border: 40px solid #008000;
}

.h1_1{
    padding-top: 50px;
    text-align: center;
}

.h2_1{
    padding-top: 30px;
    text-align: center;
}

.h1_2{
    padding-top: 40px; 
    text-align: center;
}

.h2_2{
    padding-top: 30px;
    text-align: center;
}

.img1{
    margin-top: 10px ;
    float: left;
    position: relative; 
    border-radius: 70px;
}

.img2{
    margin-top: 10px ;
    float: left;
    position: relative; 
    border-radius: 50px;
}

.enlace{
    color: #000;
}

.enlace a:hover{
    color: green;
}

.enlace a:active{
    opacity: 40%;
}

.enlace a:visited{
    color: green;
}

/*hermandades1*/

.img3{
    margin-top: 10px ;
    float: left;
    position: relative; 
    border-radius: 70px;
}

.divblanco2{
    background-color: white;
    float: left;
    border-radius: 70px;
    height: 700px;
}

.divblanco3{
    background-color: white; 
    border-radius: 70px; 
    border: 40px solid #008000;
    height: 360px;
    float: left;
}

.divverde2{
    background-color: #008000; 
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50px;
    float: right;
}

.tabla{ 
    margin-top: 150px;
    margin-left: 10px;
    float: left;
    width: 30%;
    border: 1px solid #000;
 }
 th, td {
    width: 20%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }

 .tabla2{
    float: right;
    margin-top: 70px;
    margin-right: 90px;
    border: 1px solid #000;
 }
 th, td {
    width: 100%;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }


/*Boton de ir arriba*/

#button-up{
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}



/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: rgb(28, 30, 34);
    border-radius: 70px;
    margin-top: 100px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: rgb(28, 30, 34);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-twitter:hover{
    background: #2890e6;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

}



@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
        right: 60px;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}